# ClearML
CLEARML_API_HOST=http://localhost:8008
CLEARML_WEB_HOST=http://localhost:8080
CLEARML_FILES_HOST=http://localhost:8081
CLEARML_API_ACCESS_KEY=
CLEARML_API_SECRET_KEY=

# Serving
SERVING_HOST=0.0.0.0
SERVING_PORT=9000

# UI
SERVING_URL=http://localhost:9000/serve/news-topic

# Production (заполнить при деплое на сервак)
SERVER_HOST=localhost
