# env
.env

# artifacts
artifacts/
*.pkl
*.zip
dataset_id.txt
best_model_id.txt
best_task_id.txt
train.csv
test.csv

# python
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/
dist/
build/

# clearml
.clearml/

# ide
.vscode/
.idea/
*.swp

# os
.DS_Store
